In [1]:
# Start with loading all necessary libraries
import numpy as np
import pandas as pd
from os import path
from PIL import Image
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import nltk
import matplotlib
matplotlib.use('Agg')
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

# %matplotlib inline

In [2]:
nltk.download('stopwords')
nltk.download('punkt')
# translator = str.maketrans('', '', string.punctuation)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\kcoll\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\kcoll\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [3]:
df = pd.read_json("10000_review_data.json")
df.head()

,_id,stars,text,vader
0,{'$oid': '645398bc6165a65397f700b0'},3,"If you decide to eat here, just be aware it is...","{'neg': 0, 'neu': 0.888, 'pos': 0.112, 'compou..."
1,{'$oid': '645398bc6165a65397f700b1'},5,I've taken a lot of spin classes over the year...,"{'neg': 0.05, 'neu': 0.705, 'pos': 0.245, 'com..."
2,{'$oid': '645398bc6165a65397f700b2'},3,Family diner. Had the buffet. Eclectic assortm...,"{'neg': 0.035, 'neu': 0.709, 'pos': 0.257, 'co..."
3,{'$oid': '645398bc6165a65397f700b3'},5,"Wow! Yummy, different, delicious. Our favo...","{'neg': 0, 'neu': 0.66, 'pos': 0.34, 'compound..."
4,{'$oid': '645398bc6165a65397f700b4'},4,Cute interior and owner (?) gave us tour of up...,"{'neg': 0.017, 'neu': 0.711, 'pos': 0.272, 'co..."

In [4]:
# Separate vader column into multiple columns
df[['neg', 'neu', 'pos', 'compound']] = df['vader'].apply(pd.Series)

# Drop the original vader column
df = df.drop('vader', axis=1)

# Display the modified dataframe
df.head()

,_id,stars,text,neg,neu,pos,compound
0,{'$oid': '645398bc6165a65397f700b0'},3,"If you decide to eat here, just be aware it is...",0.000,0.888,0.112,0.8597
1,{'$oid': '645398bc6165a65397f700b1'},5,I've taken a lot of spin classes over the year...,0.050,0.705,0.245,0.9858
2,{'$oid': '645398bc6165a65397f700b2'},3,Family diner. Had the buffet. Eclectic assortm...,0.035,0.709,0.257,0.9201
3,{'$oid': '645398bc6165a65397f700b3'},5,"Wow! Yummy, different, delicious. Our favo...",0.000,0.660,0.340,0.9588
4,{'$oid': '645398bc6165a65397f700b4'},4,Cute interior and owner (?) gave us tour of up...,0.017,0.711,0.272,0.9804

In [18]:
# Prepare the list of stop words
stop_words = stopwords.words('english') + ["'ve", "'re", "'s", "'m", "'ll", "'d", "n't", "'u", "u"]

def remove_part_words(text):
    # Tokenize the text into words
    words = word_tokenize(text)
    
    # Iterate through each word
    filtered_words = []
    for word in words:
        if word.lower() not in stop_words:
            if "'" in word:
                word_parts = word.split("'")
                filtered_words.append(word_parts[0])
            else:
                filtered_words.append(word)
    
    # Join the filtered words back into a single string
    filtered_text = ' '.join(filtered_words)
    
    return filtered_text

In [19]:
df['text'] = df['text'].apply(remove_part_words)

In [20]:
df.head()

,_id,stars,text,neg,neu,pos,compound
0,{'$oid': '645398bc6165a65397f700b0'},3,"decide eat , aware going take 2 hours beginnin...",0.000,0.888,0.112,0.8597
1,{'$oid': '645398bc6165a65397f700b1'},5,"taken lot spin classes years , nothing compare...",0.050,0.705,0.245,0.9858
2,{'$oid': '645398bc6165a65397f700b2'},3,Family diner . buffet . Eclectic assortment : ...,0.035,0.709,0.257,0.9201
3,{'$oid': '645398bc6165a65397f700b3'},5,"Wow ! Yummy , different , delicious . favorite...",0.000,0.660,0.340,0.9588
4,{'$oid': '645398bc6165a65397f700b4'},4,Cute interior owner ( ? ) gave us tour upcomin...,0.017,0.711,0.272,0.9804

In [21]:
# Start with one review:
text = ' '.join(df['text'])

# Create and generate a word cloud image:
wordcloud = WordCloud(background_color='white').generate(text)

# Display the generated image
plt.imshow(wordcloud, interpolation='bilinear')
plt.axis("off")
plt.show()

In [22]:
# # Save the image to a file
plt.savefig('wordcloud.png', bbox_inches='tight')